@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-family: "Quicksand", sans-serif;
}

.main-container {
  background-color: #75859C;
  min-height: 100vh;
  width: 100vw;
}
.slider {
  scrollbar-width: none;
  scroll-behavior: smooth;
  @apply inline-block overflow-x-auto overflow-y-hidden w-full whitespace-nowrap
  px-6 py-3 border-b-2 border-[#0B192C] mb-2 pb-6

}

.header-icons-container {
  @apply w-8 h-8
}

th {
  text-align: start;
  background-color: #0B192C;
  padding: 4px 8px;
}
tr {
  border: 2px solid #0B192C;
}
td {
  padding: 4px 8px;
  border-left: 2px solid #0B192C;
  border-right: 2px solid #0B192C;
}