@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-family: "Quicksand", sans-serif;
}

.main-container {
  background-color: #75859C;
  min-height: 100vh;
  width: 100vw;
}
.slider {
  scrollbar-width: none;
  scroll-behavior: smooth;
  @apply inline-block overflow-x-auto overflow-y-hidden w-full whitespace-nowrap
  px-6 py-3 border-b-2 border-[#0B192C] mb-2 pb-6

}

.header-icons-container {
  @apply w-8 h-8
}

th {
  text-align: start;
  background-color: #0B192C;
  padding: 4px 8px;
}
tr {
  border: 2px solid #0B192C;
}
td {
  padding: 4px 8px;
  border-left: 2px solid #0B192C;
  border-right: 2px solid #0B192C;
}

.rotating {
  animation: rotate infinite linear 3s;
}

.walkingman {
  background-image: url('./assets/images/walkingman2.png');
  width: 60px;
  height: 100px;
  background-size: 540px 100px;
  background-repeat: no-repeat;
  position: relative;
  animation: walk infinite steps(9) 2s,move-forward infinite linear 10s;
}

.walkingman::before {
  content: 'what do you want?';
  width: 120px;
  padding: 8px;
  background-color: white;
  color: #0B192C;
  position: absolute;
  left: 0;
  top: -8px;
  transform: translateX(0) translateY(calc(-100% - 8px)) scale(0) ;
  border-radius: 16px;
  transition: 1s transform;
  transform-origin: 28px bottom;
}

.walkingman::after {
  
  transition: 1s transform;
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  border: 10px solid transparent;
  border-top-color: white;
  transform: translateX(28px) translateY(-8px) scale(0);
  transform-origin: 0 top;
}

.walkingman:hover::before{
  transform: translateX(0) translateY(calc(-100% - 8px)) scale(1);
}
.walkingman:hover::after {
  transform: translateX(28px) translateY(-8px) scale(1);
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes walk {
  from {
    background-position: 0;
  }
  to {
    background-position: -540px;
  }
}

@keyframes move-forward {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}